/*stylesheet for website of Vivek GOvindasamy*/

body {
  font-family: verdana;
  color: black;
  margin: 0px;
}


.header {
  background: url('border.png');
  background-size: 150px;
  padding-top:15px;
  opacity: 1;
  width: 100%;
  text-align: center;
  margin-top:0px;
  margin-right:0px;
  margin-left:0px;
  margin-bottom: 10px;
}

.heading {
  font-size: 36px;
  background: -webkit-linear-gradient(#e0891d, #e36257, #bf547f, #83578d, #495447c, #2f4858);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.main_content{
  margin-left: 200px;
  margin-right:30px;
  margin-bottom:30px;
}

.about_me{
  margin-left: 30px;
  margin-right:30px;
  padding-right: 30px;
  margin-bottom:30px;
}

.sidebar {
  position:fixed;
  height: 75%;
  padding: 0;
  margin-top: 150px;
  left: 30px;
}

.sidebar_box {
  background: black;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-width: medium;
  border-color: yellow;
  text-align:center;
}

.sidebar_item{
  color: white;
}

a:link.sidebar_item { text-decoration: none; }
a:visited.sidebar_item { text-decoration: none; }
a:hover.sidebar_item { text-decoration: underline; }
a:active.sidebar_item { text-decoration: underline; }

.profile_pic {
  float: right;
  margin-right: 100px;
  height: 200px;
}


ul {
  margin: 0 0 0 0;
  line-height: 1.5
  list-style: none;
}

.b1 {
  list-style-image: url(bee_15.png);
/*  background: url ("bee_50.jpg");*/

}
/*
li{
  position: relative;
}

li::before {
  position:absolute;
  left: -0.8;
  right: 0.8em;
  top:0.8em;
  font-size: 1.1em;
}
*/

/*
.bullet{
    background: url(/bee.jpg) no-repeat;
    display:inline-block;
    vertical-align: middle;
    background-size:100%;
    height:25px;
    width:25px;
    margin-right: 5px;
}
*/

